<?xml version="1.0"?>
<model>
  <name>Rising Star V2</name>
  <version>1.0</version>
  <sdf version="1.6">rising_star_v2.sdf</sdf>
  <author>
    <name>Dongbin Kim</name>
  </author>
  <description>Rising Star v2 with a 48 inch teeter beam, 12 ft blades, 28 ft rotor diameter, and 7 degree pre-cone.</description>
</model>
