<?xml version="1.0"?>
<model>
  <name>teeter_rotor_hitl</name>
  <version>1.0</version>
  <sdf version="1.6">teeter_rotor_hitl.sdf</sdf>

  <author>
    <name>Dongbin Kim</name>
    <email>akdba0207@gmail.com</email>
  </author>

  <description>
    Custom teetering rotorcraft model for PX4 v1.14 Gazebo Classic HITL.
  </description>
</model>
