<?xml version="1.0"?>
<model>
  <name>teeter_rotor</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Dongbin Kim</name>
    <email>akdba0207@gmail.com</email>
  </author>

  <description>
    Custom teetering rotorcraft model for PX4 v1.13 Gazebo Classic SITL.
  </description>
</model>
